<html>
<body>

<h2>TLDRify daily report since {{ since }}</h2>

<h3>New Users</h3>
<table border="1" cellpadding="7">
	<thead><tr><th>Email</th><th>Created</th></tr></thead>
	<tbody>
	{% for u in new_users %}
		<tr><td>{{ u.email }}</td><td>{{ u.created }}</td></tr>
	{% endfor %}
	</tbody>
</table>

<h3>New Citations</h3>
<table border="1" cellpadding="7">
	<thead><tr><th>Short URL</th><th>Original URL</th><th>Created</th></tr></thead>
	<tbody>
	{% for c in new_citations %}
		<tr><td>{{ c.short_url()|urlize(40) }}</td><td>{{ c.url|urlize(40) }}</td><td>{{ c.created }}</td></tr>
	{% endfor %}
	</tbody>
</table>

<h3>Broken Links</h3>
<table border="1" cellpadding="7">
	<thead><tr><th>Short URL</th><th>Original URL</th></tr></thead>
	<tbody>
	{% for l in broken_links %}
		<tr><td>{{ l.short_url()|urlize(40) }}</td><td>{{ l.url|urlize(40) }}</td></tr>
	{% endfor %}
	</tbody>
</table>

</body>
</html>
