{% extends "base.html" %}

{% block title %}Terms of Service{% endblock %}
{% block description %}This page describes terms of TLDRify service{% endblock %}

{% block content %}
<div class="container bottom-offset center">
	<div class="col-md-8 col-md-offset-2 voffset-1">
		<h1>Terms of Service</h1>
		<p>This agreement (the "Agreement") is entered into by and between you ("you") and TLDRify,
		("TLDRify" or "we") regarding your use of the tldrify.com service (the "Service"). By the using
		the Service you are entering into this agreement with TLDRify and indicating that you
		agree to be bound by these terms and conditions. If you do not agree with these terms and
		conditions as stated, you may not use the Service.</p>

		<h3>Disclaimer</h3>
		<p>
			THE INFORMATION CONTAINED IN THIS WEBSITE IS FOR GENERAL INFORMATION PURPOSES ONLY.
			THE INFORMATION IS PROVIDED BY THE SERVICE AND WHILE WE ENDEAVOUR TO KEEP THE INFORMATION
			UP TO DATE AND CORRECT, WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS
			OR IMPLIED, ABOUT THE COMPLETENESS, ACCURACY, RELIABILITY, SUITABILITY OR AVAILABILITY
			WITH RESPECT TO THE WEBSITE OR THE INFORMATION, PRODUCTS, SERVICES, OR RELATED GRAPHICS
			CONTAINED ON THE WEBSITE FOR ANY PURPOSE. ANY RELIANCE YOU PLACE ON SUCH INFORMATION
			IS THEREFORE STRICTLY AT YOUR OWN RISK.
		</p>
		<p>
			IN NO EVENT WILL WE BE LIABLE FOR ANY LOSS OR DAMAGE INCLUDING WITHOUT LIMITATION,
			INDIRECT OR CONSEQUENTIAL LOSS OR DAMAGE, OR ANY LOSS OR DAMAGE WHATSOEVER ARISING FROM
			LOSS OF DATA OR PROFITS ARISING OUT OF, OR IN CONNECTION WITH, THE USE OF THIS WEBSITE.
		</p>
		<p>
			THROUGH THIS WEBSITE YOU ARE ABLE TO LINK TO OTHER WEBSITES WHICH ARE NOT UNDER THE
			CONTROL OF THE SERVICE. WE HAVE NO CONTROL OVER THE NATURE, CONTENT AND AVAILABILITY
			OF THOSE SITES. THE INCLUSION OF ANY LINKS DOES NOT NECESSARILY IMPLY A RECOMMENDATION
			OR ENDORSE THE VIEWS EXPRESSED WITHIN THEM.
		</p>
		<p>
			EVERY EFFORT IS MADE TO KEEP THE WEBSITE UP AND RUNNING SMOOTHLY. HOWEVER, THE SERVICE 
			TAKES NO RESPONSIBILITY FOR, AND WILL NOT BE LIABLE FOR, THE WEBSITE BEING TEMPORARILY 
			NAVAILABLE DUE TO TECHNICAL ISSUES BEYOND OUR CONTROL.
		</p>

		<h3>Use of the Service</h3>
		<p>
			The service provided by TLDRify may be used for lawful purposes only. Transmission, 
			storage or presentation of any information, data or material in violation of any United States  
			federal, state or city law is prohibited. This includes, but is not limited to: copyrighted material, 
			material we judge to be threatening or obscene, or material protected by trade secret 
			and other statute. The subscriber agrees to indemnify and hold harmless TLDRify from
			any claims resulting from the use of service which damages the subscriber or any other party.
		</p>

		<h3>Links to Third Party Sites</h3>
		<p>
			The Service may contain links to other websites of interest. However, once you have used these
			links to leave the Service, you should note that the Service does not have any control over
			that other Website. Therefore, the Service cannot be responsible for the protection and privacy
			of any information which you provide whilst visiting such sites and such sites are not governed
			by this privacy statement. You should exercise caution and look at the privacy statement applicable
			to the Website in question.
		</p>

		<h3>Content</h3>
		<p>
			The content displayed by the Service may come from external Websites, which are not under our
			responsibility. The Service may display content that some people find objectionable, inappropriate,
			or offensive. TLDRify takes no responsibility for the content type of any site displayed
			or otherwise linked to by the Service.
		</p>
		<br />
		<br />
		<br />
	</div>
</div>
{% endblock %}
