{% extends "base.html" %}

{% block title %}Error rendering page{% endblock %}
{% block description %}An error has occurred while renedering a Web page{% endblock %}

{% block content %}
<div class="container voffset-1">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h1>Internal Server Error</h1>
			<p class="voffset-1"><i class="fa fa-exclamation-triangle fa-5x fa-error"></i></p>
			<p class="voffset-1">Something went wrong while rendering this page. We are working on fixing this issue, please check again later!</p>
		</div>
	</div>
</div>
{% endblock %}
