@import url(https://fonts.googleapis.com/css?family=Dosis:500,600,700);

body {
	-webkit-animation-delay: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
	from { opacity: 1; }
	to   { opacity: 1; }
}

html, body { height: 100%; }

body {
	font-family: "Dosis","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	background: #F7F7F7;
}

a:hover, a:focus {
	color: #1d2f3a;
	text-decoration: underline;
}

a:active, a:hover { outline: 0; }

.content {
	min-height: 100%;
	padding-bottom: 50px;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -120px;
	padding: 0 0 120px;
}

.voffset-1 { padding-top: 36px; }
.voffset-2 { padding-top: 72px; }
.bottom-offset { padding-bottom: 50px; }

#brand-header {
	background-color: #36586d;
	padding-top: 10rem;
	padding-bottom: 11rem;
}

#brand-header a { text-decoration: none !important; }

#brand-header h1 {
	color: #fff;
	font-weight: 700;
	font-size: 4rem;
	margin-top: 5px;
}

#brand-header h4 {
	color: #fff;
	opacity: .7;
	font-size: 20px;
}

.panel-tldr { border-color: #36586d; }

.panel-tldr > .panel-heading {
	color: #fff;
	background-color: #36586d;
	border-color: #36586d;
}

.panel-heading {
	text-transform: uppercase;
	text-align: center;
}

.page-header {
	margin-top: 4rem;
	margin-bottom: 2rem;
	border-bottom: 0;
	opacity: .7;
	text-align: center;
	padding-bottom: 9px;
}

table th {
	color: #36586d;
	opacity: .8;
	
}

.alert a {
	font-weight: bold;
	text-decoration: underline;
	color: inherit;
}

table>tbody>tr.highlight>td { background-color: #f5f5f5; }

#tutorial .page-header h1 {
	color: #36586d;
	border-bottom: 2px solid #36586d;
	padding-bottom: 3px;
	display: inline-block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#tutorial-steps-wrapper {
	width: 70%;
	background-color: white;
	padding-top: 20px;
	margin: 2rem auto 8rem auto;
	border: 1px solid rgba(0,0,0,.2);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
@media screen and (max-width: 768px) {
	#tutorial-steps-wrapper { width: 100%; padding-right:10px; }
}

#tutorial-steps {
	counter-reset: my-badass-counter;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 4rem;
}

#tutorial-steps dt {
	margin-left: 70px;
	position: relative;
	padding: 0 0 6px;
	color: #36586d;
}

#tutorial-steps dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	font-size: 111px;
	position: absolute;
	margin-left: -82px;
	margin-top: -15px;
	text-align: center;
	color: #36586d;
	opacity: .5;
	font-weight: 300;
	display: block;
	line-height: 1;
	width: 59px;
}
@media screen and (max-width: 768px) {
	#tutorial-steps dt:before { margin-left: -65px; }
}

#tutorial-steps dt {
	font-size: 24px;
	font-weight: 600;
	margin-top: 0;
}

#tutorial-steps dd {
	margin: 0 0 4rem;
	padding-left: 70px;
	padding-bottom: 4rem;
	border-bottom: 2px solid #e4e7e9;
}

#tutorial-steps dd:last-child { border-bottom: 0; }

#bookmarklet {
	cursor: move;
	margin-top: 2em;
	margin-left: 7em;
}

#table-container { min-height: 40px; }

.glyphicon-chevron-down, .glyphicon-chevron-up {
	margin-left: 7px;
}

.glyphicon-chevron-down {
	vertical-align: text-bottom;
}

.glyphicon-chevron-up {
	vertical-align: text-top;
}

.footer {
	text-align: center;
	height: 120px;
	padding: 40px;
}

.footer a {
	padding: 10px;
	color: #999;
}

.addthis_sharing_toolbox { padding: 30px 0px; }

#feedback {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 250px;
	margin-left: -3px;
	margin-bottom: -3px;
}

#feedback-form {
	float: left;
	width: 300px;
	height: 100%;
	z-index: 1000;
	padding-left: 5px;
	padding-right: 10px;
	background-clip: 'padding-box';
	border: 1px solid rgba(0,0,0,.2);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#feedback-tab {
	float: right;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	width: 120px;
	height: 42px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 60px;
	margin-left: -42px;
	padding-top: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#feedback-tab:hover {
	background-color: rgba(0,0,0,0.4);
}

#feedback-form textarea {
	resize: none;
}

#help {
	max-width: 600px;
}

#help h2, #help h3 {
	color: #36586d;
	font-weight: 600;
}

.fa-error {
	color: #ff6600;
	opacity: .7;
}

